@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Nunito:wght@200;300;400&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*:hover,
*:active {
  box-sizing: border-box;
  transition: 0.25s ease all;
  outline: none;
}

.gridx2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-items: center;
  /* justify-items: center; */
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-50 {
  width: 50%;
}

.row {
  display: flex;
  align-items: center;
}

.swal2-container.swal2-top-end > .swal2-popup,
.swal2-container.swal2-top-right > .swal2-popup {
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.swal2-popup.swal2-toast {
  box-shadow: none;
}

.swal2-popup.swal2-toast.swal2-icon-success {
  background: #28a746;
}

.swal2-popup.swal2-toast.swal2-icon-error {
  background: #dc3545;
}

.swal2-popup.swal2-toast.swal2-icon-warning {
  background: rgb(212, 163, 0);
}

.swal2-popup.swal2-toast.swal2-icon-info {
  background: #00a2ff;
}

.swal2-popup.swal2-toast .swal2-title {
  color: #fff;
  margin: 1em 0.3em;
}

@media all and (max-width: 640px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
